streamlit>=1.18
joblib
xgboost
pandas>=1.3.0
numpy>=1.16.5
scikit-learn
matplotlib
openpyxl
# add any other libs you used in the notebook (e.g., seaborn, yfinance)
seaborn
yfinance>=0.2.66
pandas-datareader
tqdm
